
@{
    ViewBag.Title = "Amthanh";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Amthanh</h2>

<div class="page">
    <div class="in">
        <a href="airmax">
        <img src="~/hinh/max12.1.jpg" class="fm-in" /> <br />
        <p class="body-text">AirPods Max<br /> 12.210.000đ</p>
        </a>
    </div>
    <div class="in">
        <a href="appro">
            <img src="~/hinh/pod2.jpg" class="fm-in" /> <br />
            <p class="body-text">AirPods Pro 3<br /> 6.770.000đ</p>
        </a>
    </div>
    <div class="in">
        <a href="ap4">
            <img src="~/hinh/ap2.jpg" class="fm-in" /> <br />
            <p class="body-text">AirPods 4<br /> 3.450.000đ</p>
        </a>
    </div>
   
</div>