@model Phone_web.Models.Category

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-4">

    <h2 class="title text-center text-danger">⚠️ Bạn có chắc chắn muốn xóa dòng sản phẩm này?</h2>

    @using (Html.BeginForm("Xoa","Category", new { area = "Admin" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <table class="table table-bordered align-middle mt-4">

            <tr>
                <th>@Html.DisplayNameFor(m => m.CatName)</th>
                <td>
                    @Html.EditorFor(m => m.CatName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
            </tr>
        </table>

        <div class="text-center mt-4">
            <input type="submit" value="🗑️ Xóa" class="btn btn-danger fw-bold mx-2" />
            @Html.ActionLink("⬅️ Quay về ", "danhmuc", null, new { @class = "btn btn-info text-dark fw-bold mx-2" })
        </div>
    }
</div>

