
@{
    ViewBag.Title = "Amthanh";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<p class="chu-spdexuat">SOUND </p>

<div class="page">
    
    <div class="in">
        <a href="airmax">
            <img src="~/hinh/max12.1.jpg" class="fm-in" /> <br />
            <p class="body-text">AirPods Max<br /> 12.210.000đ</p>
        </a>
    </div>
    <div class="in">
        <a href="appro">
            <img src="~/hinh/pod2.jpg" class="fm-in" /> <br />
            <p class="body-text">AirPods Pro<br /> 6.770.000đ</p>
        </a>
    </div>
    <div class="in">
        <a href="ap4">
            <img src="~/hinh/ap2.jpg" class="fm-in" /> <br />
            <p class="body-text">AirPods<br /> 3.450.000đ</p>
        </a>
    </div>
    <div class="in">
        <a href="#">
            <img src="~/hinh/earphone.jpg" class="fm-in" /> <br />
            <p class="body-text">EarPods HeadPhone<br /> 550.000đ</p>
        </a>
    </div>

</div>