
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@*
    <div class="banner">
        <img src="~/hinh/ip17.8.jpg" class="fm-banner" />
        <img src="~/hinh/ip17.7.jpg" class="fm-banner" />
        <img src="~/hinh/imac1.jpg" class="fm-banner" />
        <img src="~/hinh/mac.18.jpg" class="fm-banner" />
        <img src="~/hinh/ip17.8.jpg" class="fm-banner" />
        <img src="~/hinh/ip17.7.jpg" class="fm-banner" />
        <img src="~/hinh/imac1.jpg" class="fm-banner" />
        <img src="~/hinh/mac.18.jpg" class="fm-banner" />
    </div>
*@
<h1 class="tt">Iphone </h1>

<div class="body">
    <div class="in">
        <a href="ProMax">
            <img src="~/hinh/ip176.jpg" class="fm-in" />
            <br />
            <p class="body-text">Iphone 17 Promax<br /> 39.980.000đ</p>
        </a>
    </div>
</div>

<h1 class="tt">Mac</h1>
<div class="body">
    <div class="in">
        <a href="macpro">
            <img src="~/hinh/pro4.jpg" class="fm-in" /><br />
            <p class="body-text">
                MacBook Pro <br />41.860.000đ
            </p>
        </a>
    </div>
    <div class="in">
        <a href="imac">
            <img src="~/hinh/imac12.jpg" class="fm-in" /><br />
            <p class="body-text">
                IMac <br />27.980.000đ
            </p>
        </a>
    </div>
    <div class="in">
        <a href="macair">
            <img src="~/hinh/mac17.jpg" class="fm-in" /><br />
            <p class="body-text">
                MacBook Air <br />
                25.780.000đ
            </p>
        </a>
    </div>
</div>

<h1 class="tt">Sound</h1>
<div class="body">
    <div class="in">
        <a href="airmax">
            <img src="~/hinh/max.jpg" class="fm-in" /><br />
            <p class="body-text">
                AirPods Max<br />
                12.210.000đ
            </p>
        </a>
    </div>
    <div class="in">
        <a href="ap4">
            <img src="~/hinh/ap2.jpg" class="fm-in" /><br />
            <p class="body-text">
                AirPods <br />
                3.450.000đ
            </p>
        </a>
    </div>
    <div class="in">
        <a href="appro">
            <img src="~/hinh/pod2.jpg" class="fm-in" /><br />
            <p class="body-text">
                AirPods Pro <br />
                6.770.000đ
            </p>
        </a>
    </div>
</div>


