
@{
    ViewBag.Title = "Iphone";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<p class="chu-spdexuat">IPHONE </p>
<div class="page">
    
    <div class="in">
        <a href="ipair">
            <img src="~/hinh/air4.jpg" class="fm-in" />
            <br />
            <p class="body-text">Iphone Air <br /> 30.590.000đ</p>
        </a>
    </div>
    <div class="in">
        <a href="Plus17">
            <img src="~/hinh/17plus.10.jpg" class="fm-in" /> <br />
            <p class="body-text">Iphone 17 Plus<br /> 25.699.000đ</p>
        </a>
    </div>
    <div class="in">
        <a href="ProMax">
            <img src="~/hinh/17.1.jpg" class="fm-in" /> <br />
            <p class="body-text">Iphone 17 Promax<br /> 39.980.000đ</p>
        </a>
    </div>
    <div class="in">
        <img src="~/hinh/16.1.jpg" class="fm-in" /> <br />
        <p class="body-text">Iphone 16 Plus<br /> 24.480.000đ</p>
    </div>
</div>