
@{
    ViewBag.Title = "Mac";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<p class="chu-spdexuat">MAC </p>
<div class="page">
    <div class="in">
        <a href="macpro">
          <img src="~/hinh/pro8.1.jpg" class="fm-in" /> <br />
          <p class="body-text">MacBook Pro<br /> 41.860.000đ</p>
        </a>
    </div>
    <div class="in">
        <a href="macair">
          <img src="~/hinh/mac.18.1.jpg" class="fm-in" /> <br />
          <p class="body-text">MacBook Air<br /> 25.780.000đ</p>
        </a>
    </div>
    <div class="in">
        <a href="imac">
          <img src="~/hinh/imac.13.jpg" class="fm-in" /> <br />
          <p class="body-text">IMac <br /> 27.890.000đ</p>
        </a>
    </div>
    <div class="in">
        <img src="~/hinh/macm2.jpg" class="fm-in" /> <br />
        <p class="body-text">MacBook Air <br /> 21.940.000đ</p>
    </div>
</div>